@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* font-size: 62.5%; */
  /* 1rem= 10px */
}
html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
}
header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

nav {
  /* border: 2px solid red; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav ul li {
  font-size: 1.8rem;
  border-bottom: 2px solid transparent;
}
nav ul li:hover {
  border-bottom: 2px solid rgb(255, 251, 0);
}

a {
  text-decoration: none !important;
  color: black;
}
nav i {
  font-size: 2.5rem;
}
/* main section */
main {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid green; */
}
/* hero section */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_content h1 {
  font-size: 6rem;
  line-height: 1.2;
}
.hero_content h4 {
  font-size: 2.5rem;
  font-weight: 300;
}
.hero_img img {
  border-radius: 5rem;
}
/* h-card section */

.h-card {
  /* border: 2px solid gold; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem;
  box-shadow: 0px 5px 4px rgb(221 221 221 / 20%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card_content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.status {
  display: flex;
  justify-content: space-between;
}
.read-btn {
  all: unset;
  font-weight: 600;
  border: 1px solid transparent;
  text-decoration: none;
}
.read-btn:hover {
  border-bottom: 1px solid #ccc;
}
/* v card section */

.card-container {
  /* border: 2px solid red; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.card-wrapper {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
}
.v-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 320px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgb(221 221 221 / 20%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.v-card img {
  width: 100%;
  height: 100%;
}

footer {
  /* border: 2px solid goldenrod; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

footer ul li {
  display: flex;
  gap: 2rem;
}
footer i {
  font-size: 1.8rem;
}
/* Post Page */
.banner img {
  width: 100%;
}
.post h1 {
  font-size: 3rem;
}
.about_author {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post hr {
  margin: 3rem 0;
}
article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
  text-align: justify;
}

/* responsive (only Mobile) */

@media (max-width:790px){

nav i{
  display: none !important;
}

footer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

  #hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero_img img{
  width: 100%;

}
.hero_content h1 {

  font-size: 3rem;}

  .hero_content h4 {

    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

.hero_img img{
text-align: center;
}
.h-card{
  display: flex;
    flex-direction: column;
}
.h-card img{
  width: 100%;
  
}
}